.main{
    background-color: #ecf9ff;
    font-size: large;
  }
  .welcomeContent{
    text-align: left;
    font-size:large;
  }
 .title{
  text-align: left;
 }
  .btn{
    background-color: #FF6584;
    margin-right: 10px;
    color: white;
  }
  .btn:hover{
    background-color: #FF6584;
  }
  
  .head{
    text-align: end;
    
  }
  .content1{
    text-align: end;
  }
  .button{
    color: white;
  }
  .b{
    text-align: end;
    color:white;
  }
  .lastimg{
    width: 350px;
    height: 204px;
    margin: auto;    
  
  }
  .contents{
    margin: auto;
    padding: 10px;
  }
 
 
  
  @media (max-width:456px) {
  
  .title{
    text-align: center;
    font-size: 19px;
    margin: auto;
  }
  .btn{
    margin: auto;
    width: 290px;
    margin: 10px;
  }
  .content{
    text-align: center;
    margin: auto;
  }
  .head{
    text-align: center;
    font-size: 19px;
    margin: auto;
  }
  .content1{
    text-align:center;
    margin: auto;
  }
  
  }
  
  @media (max-width:361px) {
  
    .petimg{
        display: none;
       }
       .hideimage{
        display: block;
        width: 242px;
        height: 109px;
    } 
    .title{
        text-align: center;
        font-size: 16px;
        margin: auto;
    }
    .btn{
        margin: auto;
        width: 221px;
        margin: 10px;
    }
    .content{
        text-align: center;
        margin: auto;
        font-size: 13px;
    }
    .head{
        text-align: center;
        font-size: 15px;
        margin: auto;
    }
    .content1{
        text-align:center;
        font-size: 13px;
        margin: auto;
    }
    .lastimg{
        width: 213px;
        height: 140px;
        margin: 10px;
    }
    .contents{
        text-align: center;
        font-size: 15px;
        margin: auto;
    }
  }
  
  