.App {
  text-align: center;
  background: #ebf9ff;
}

body{
  background: #ebf9ff;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.caption {
  font-weight: 700;
  font-size: 2rem;
  color: rgba(0, 0, 0, 0.7);
  margin: 0 0 2.5rem 0;
}
.Question {
  font-weight: 700;
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 0.7);
  margin: 0 0 2rem 0;
}
.formContainer {
  text-align: left;
  background-color: #ebf9ff;
}

.headtitle{
  font-weight: bolder;
  text-align: left;
  margin: 10px;
}
.hidetable{
  display:flex;
  margin: auto;
  padding: 10px;
}
.hidetable h6{
  cursor: pointer;
  font-weight: bolder;  
  margin:5px;
}
.fromfield{
  margin: auto;
  padding: 10px;
  font-family: 'Roboto', sans-serif;
}